.App {
  height: 98vh;
}

@media only screen and (max-width: 768px) {
  .App-Nav-Container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.App-Nav-Button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background: #c4c4c4;
  border-radius: 0.75rem;
}
