.App {
  height: 98vh;
}

.App-Nav {
  list-style: none;
}

.App-Nav-Button {
  position: absolute;
  width: 630px;
  height: 108px;
  left: 405px;
  top: 396px;

  background: #c4c4c4;
  border-radius: 50px;
}
